{{!< default}}
<div class="container">
	<div class="jumbotron"><img class="center-block" src="/images/logo.svg" width="160">
	<br>
	<br>

	 
	  <form action="/signoutjwt" method="get">
	  <button type="submit" class="btn btn-primary">Log out </button>
	  </form>

		<!--<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>ahmed.infot@gmail.com</strong> and the password <strong>password</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>-->
		<p align="right">

         حينما تدق الاجراس تنشد الاطيار لحن الخلود.. فتعانق نسمات الصباح غروب الشمس.. يتوهج البدر حاملاً معه باقات من الزهر.. لينثرها بين الأيادي معلنة موعد فجر جديد.. يصاحبه نور قلم فريد نستقبلكم والبشر مبسمنا.. نمزجه بشذا عطرنا.. نصافحكم والحب اكفنا لنهديكم أجمل معانينا.. ونغرف من همس الكلام اعذبه ومن قوافي القصيد اجزله.. ومن جميل النثر اروعه بين مد وجزر وفي امواج البحر.. نخوض غمار الكلمة فتجرفنا سفينة الورقة تجدفها اقلامنا.. لتحل قواربكم في مراسينا فنصل معا نحو شواطىء ملوك العرب. بكل عناوين المحبه والاخاءء.. وبكل العطور والدخوون.. يتعطر (...) سروراً وفرحاً لهذا الحضور تتسابق كلماتي لتفرش لك سطور التراحيب الحمراء وتتهادى تعابير الفرح وعبير الود لكي تنثر سلال الزهر والورد يا هلا والله ومية غلا. امنياتي لك بطيب الفائده والمتعه مع وهج التواصل والعطااء في ظلال(...) تقبل تحياتي. لو زخرفنا لك (...) ورد وزهور واخذنا من عبيرك احلا العطور ورحبنا بقدومكم بانسام البخور ما وفينا بكل احساس الشعور اهلاً وسهلاً بك ونتشرف في حظورك ويسرني أن ارحب بك من اعماقي ومن كل شعور بي.. وأمل أن ينال اعجابك.. ردي المتواضع والبسيط. اكتب بالنور على شاشة ذاكرتي بعضا من مقتطفاتي لاضعها على صفحات ملوك العرب فانقش على جدرانها وعلى جدارن الزمن الماضي والحاضر. ترحيبي بك وأنت في الدرب الطويل ترحيب ارويه بصدى الذكرى قدومك الينا ووجودك معنا زادنا فرحاً وسروراً ولاجلك نفرش الأرض بدل التراب زهوراً.. بين اركان الزهور نسحبك ونعشقك ما اسعد (...) ملوك العرب بحضورك. اهلا بك.. واتمنى أن نرى منك كل تميز كما هو يعرف عن تميز زهورنا وشموسنا الرائعين.

		</p>
	</div>
		
</div>

<div class="container">

<p align="right">
	بــكــل حــب وإحــتــرام وشــوق
نــســتــقــبــلك ونــفــرش طــريــقــك بــالــورد
ونــعــطــر حــبــر الــكــلــمــات بــالــمــســك والــعــنــبــر
<br>
ونــنــتــظــر الإبــداع مــع نــســمــات الــلــيــل
وســكــونــه

لــتــصــل هــمــســات قــلــمــك إلــى قــلــوبــنــا
وعــقــولــنــا

نــنــتــظــر بــوح قــلــمــك
</p>
</div>

